{% extends 'base.html.twig' %}

{% block title %}
    {% if breadcrumb %}
        {# TODO: Link "items" while stripping tags in base title block #}
        {# <a href="{{ path('inventory_list') }}">Items</a> > {{ breadcrumb }} #}
        Items &raquo; {{ breadcrumb }}
    {% else %}
        Items
    {% endif %}
{% endblock %}

{% block body %}
    {% import 'macros.html.twig' as macros %}

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col" class="text-right d-none d-md-table-cell">Location</th>
                <th scope="col" class="text-right" style="width:4rem">Qty</th>
                <th scope="col" class="text-right" style="width:10rem">Est. Value</th>
                <th scope="col" class="text-right" style="width:7rem">Actions</th>
                <th scope="col" class="text-right" style="width:1rem">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% set total_quantity = 0 %}
            {% set total_value = 0.0 %}

            {% for item in items %}
                <tr>
                    <td>
                        <a href="{{ path('inventory_get', {'id': item.id}) }}">{{ item.name }}</a>
                    </td>
                    <td class="text-right d-none d-md-table-cell">
                        {{ macros.tags('locations', item.locations) }}
                    </td>
                    <td class="text-right">{{ item.quantity }}</td>
                    <td class="text-right">
                        {% if item.totalValue %}
                            {{ item.totalValue|format_currency(app_currency) }}
                        {% endif %}
                    </td>
                    <td style="text-align: right">
                        <a href="{{ path('inventory_get', {'id': item.id}) }}" class="btn btn-success d-inline-block"><i class="fas fa-eye"></i></a>
                        <a href="{{ path('inventory_edit', {'id': item.id}) }}" class="btn btn-primary d-inline-block"><i class="far fa-edit"></i></a>
                    </td>
                    <td style="text-align: right">
                        <form class="d-inline-block">
                            <button
                                    formaction="{{ path('inventory_delete', {'id': item.id}) }}"
                                    formmethod="post"
                                    formnovalidate
                                    type="submit"
                                    class="btn btn-danger d-inline-block"
                                    name="submit"
                                    value="delete"
                                    data-confirm="Are you sure you would like to delete this item?">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {% set total_quantity = total_quantity + item.quantity %}
                {% set total_value = total_value + item.totalValue %}
            {% else %}
                <tr>
                    <td colspan="4">No items. Would you like to <a href="{{ path('inventory_add') }}"><i class="fas fa-plus-square"></i>&nbsp;&nbsp;add one</a>?</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td><a class="btn btn-primary" href="{{ path('inventory_add') }}?return_to=list"><i class="fas fa-plus-square"></i>&nbsp;&nbsp;Add</a></td>
                <th scope="col" class="d-none d-md-table-cell"></th>
                <th scope="col" class="text-right">{% if total_quantity %}{{ total_quantity }}{% endif %}</th>
                <th scope="col" class="text-right">{% if total_value %}{{ total_value|format_currency(app_currency) }}{% endif %}</th>
                <th scope="col" class="d-none d-md-table-cell"></th>
            </tr>
        </tfoot>
    </table>
{% endblock %}
