{% extends 'base.html.twig' %}

{% block title %}{{ item.name }}{% endblock %}
{% block h1 %}
    <form class="d-inline">
        <button
                formaction="{{ path('inventory_delete', {'id': item.id}) }}"
                formmethod="post"
                formnovalidate
                type="submit"
                class="btn btn-danger"
                name="submit"
                value="delete"
                data-confirm="Are you sure you would like to delete this item?">
            <i class="far fa-trash-alt"></i>
        </button>
    </form>
    <a class="btn btn-primary" href="{{ path('inventory_edit', {'id': item.id}) }}"><i class="fas fa-edit"></i>&nbsp;&nbsp;Edit</a>
{% endblock %}

{% block body %}
    {% macro scalarrow(header, data, type, extra) %}
        {% if data %}
            <tr>
                <th scope="row">{{ header }}</th>
                {% if type == "currency" %}
                    <td>{{ data|format_currency(app_currency) }}</td>
                {% elseif type == "url" %}
                    <td><a target="_blank" href="{{ data }}">{{ extra.title ?? data }}&nbsp;<i class="fas fa-external-link-alt" style="font-size: 0.8rem;"></i></a></td>
                {% elseif type == "notes" %}
                    <td><pre>{{ data }}</pre></td>
                {% else %}
                    <td>{{ data|nl2br }}</td>
                {% endif %}
            </tr>
        {% endif %}
    {% endmacro %}

    {% macro tagrow(header, category, tags) %}
        {% if tags %}
            {% import 'macros.html.twig' as macros %}
            <tr>
                <th scope="row">{{ header }}</th>
                <td>{{ macros.tags(category, tags) }}</td>
            </tr>
        {% endif %}
    {% endmacro %}
    {% import _self as table %}

    <table class="table table-borderless item">
        <tbody>
            {{ table.scalarrow('Quantity', item.quantity) }}
            {{ table.scalarrow('Purchase Price (x 1)', item.purchasePrice, "currency") }}
            {{ table.scalarrow('Current Value (x 1)', item.value, "currency") }}
            {% if item.quantity > 1 %}
                {{ table.scalarrow("Purchase Price (x #{item.quantity})", item.totalPurchasePrice, "currency") }}
                {{ table.scalarrow("Current Value (x #{item.quantity})", item.totalValue, "currency") }}
            {% endif %}
            {{ table.scalarrow('Manufacturer', item.manufacturer) }}
            {{ table.scalarrow('Link', item.url, "url") }}
            {{ table.scalarrow('Model', item.model) }}
            {{ table.scalarrow('Serial Numbers', item.serialNumbers) }}
            {{ table.tagrow('Types / Tags', 'types', item.types) }}
            {{ table.tagrow('Location(s)', 'locations', item.locations) }}
            {% if item.acquiredDate %}
                {{ table.scalarrow('Acquired', item.acquiredDate|date("Y-m-d")) }}  {# TODO: Localize date format #}
            {% endif %}
            {{ table.scalarrow('Notes', item.notes, "notes") }}

            {% if images %}
                <tr>
                    <th scope="row">Images</th>
                    <td>
                        {% for filename in images %}
                            <a class="pop" href="{{ path('inventory_image', {'id': item.id, 'filename': filename}) }}" data-toggle="lightbox" data-gallery="product-images">
                                <img class="layout-view img-thumbnail"
                                     data-full-src="{{ path('inventory_image', {'id': item.id, 'filename': filename}) }}"
                                     src="{{ path('inventory_image', {'id': item.id, 'filename': filename}) }}?w=200">
                            </a>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('inventory_list') }}"><i class="fas fa-reply"></i>&nbsp;&nbsp;Back to list</a>
{% endblock %}
